body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background: rgb(12, 12, 12);
    padding: 20px;
    color: #fff;
    text-align: center;

}

#bacground{
    background-image:linear-gradient(to right, rgba(19, 18, 18, 0.705),rgba(39, 34, 34, 0.048)),url(../img/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    padding: 0;
    margin: 0;
}
#central{
    text-align: center;
    font-style: normal;
    font-size:20rem;
    padding-top:7rem;
    font-family: sans-serif;
}
#centra{
    display: flex;
    justify-content: center;
    text-align: center;
}
#icon{
    font-size: 8rem;
}
